*.o
*.so
*~

lib/performance/tst/tst_performance
lib/power/tst/tst_power
lib/thermal/tst/tst_thermal
thermal-engine/src/thermal-engine
thermal-engine/tst/tst_cb_chain
thermal-engine/tst/tst_fsm
thermal-engine/tst/tst_pair
thermal-engine/tst/tst_plugin
