on init
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_cur_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_available_frequencies
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_cur_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_available_frequencies

    chown system system /sys/class/devfreq/5000000.gpu/min_freq
    chown system system /sys/class/devfreq/5000000.gpu/max_freq
    chown system system /sys/class/devfreq/5000000.gpu/cur_freq
    chown system system /sys/class/devfreq/5000000.gpu/target_freq
    chown system system /sys/class/devfreq/5000000.gpu/available_frequencies

    chown system system /sys/class/devfreq/1d84000.ufshc/min_freq
    chown system system /sys/class/devfreq/1d84000.ufshc/max_freq
    chown system system /sys/class/devfreq/1d84000.ufshc/cur_freq
    chown system system /sys/class/devfreq/1d84000.ufshc/target_freq
    chown system system /sys/class/devfreq/1d84000.ufshc/available_frequencies

    chown system system /dev/cpu_dma_latency
